.Navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  color: black;
  box-shadow: 0px 8px 18px rgba(33, 20, 10, 0.12);
}

.Navbar_container {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.Container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.Navbar_logo {
  color: black;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.Navbar_icon {
  margin-right: 0.5rem;
}

.Nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  transition: all 0.5s ease-in-out;
  padding: 0;
  margin: 0;
}

.Nav_item {
  height: 60px;
  cursor: pointer;
  color: black;
}

.Nav_links {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0;
  height: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-right: 50px;
}

.Menu_icon {
  display: none;
  color: black;
}

.EnterIcon {
  margin-left: 14px;
}

.Nav_items {
  cursor: pointer;
}

.Select_lang {
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 50px;
}
.EnterSvg {
  margin: 2px;
}
@media screen and (max-width: 960px) {
  .Navbar {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .Nav_items {
    display: none;
    cursor: pointer;
    margin-right: 0;
  }
  .Select_lang {
    margin: 15px;
  }
  .Navbar_container {
    margin: 0;
    padding: 0;
  }
  .Nav_menu {
    display: flex;
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 100%;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .Active1 {
    background: white;
    top: 100%;
    transition: all 0.1s ease-in-out;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .Active1 li:first-child {
    order: 1;
    align-self: center;
  }
  .Active1 li:nth-child(2) {
    order: 3;
  }
  .Active1 li:last-child {
    order: 2;
  }
  .Nav_links {
    text-align: center;
    width: 100%;
    display: table;
  }
  .Nav_links:hover {
    color: #242424;
  }

  .Nav_item:hover {
    border: none;
  }

  .Nav_item {
    width: 40%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .Navbar_logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 0 5px 5px;
  }

  .Menu_icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 1rem;
  }
}
