.Button {
  background-color: transparent;
  color: #21140a;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 15px 36px;
  margin: 10px;
  border: 1px solid #ff933b;
  border-radius: 6px;
  display: flex;
}

.Main {
  background-color: #ff933b;
  color: #fff;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
